body {
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: auto;
    padding: 0 10px;
}

.info a {
    position: relative;
    transition: 1s;
}


.info li:hover>a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 190%;
    width: 100%;
    height: 2px;
    background-color: #3f83bc;
}

.info a:hover:before {
    transition: 1s;
    width: 100%;
}

header {
    background-color: #313131;
}

.header-line {
    display: flex;
    background-color: #313131;
    justify-content: space-between;
    padding: 11px 0;
}



.more-info {
    display: flex;
    align-items: center;
}

.header-line ul {
    display: flex;
    list-style: none;
    column-gap: 43px;
    margin: 0;
    padding: 0;
}

.info a {
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    text-decoration: none;
}

.search a {
    display: block;
    padding: 3.2px 218px 3.2px 11px;
    border: 2px solid #989898;
    opacity: 0.502;
    font-size: 14px;
    color: #fff;
    font-family: "Roboto";
    text-decoration: none;
}

.locations {
    position: relative;
}

.mailll {
    transition: 1s;
}

.mailll {
    font-size: 14px;
    text-decoration: underline;
    color: #3f83bc;
    font-family: "Open Sans";
}

.mailll:hover {
    color: #000;
    text-decoration: none;
}

.number {
    position: relative;
}

.number:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #3f83bc;
}

.skypeour {
    position: relative;
}

.skypeour:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #3f83bc;
}

.call a {
    transition: 1s;
}

.call a:hover {
    background-color: #313131;
    opacity: .7;
}

.diplomas {
    transition: 1s;
}

.diplomas:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #e6e6e6;
}

.certificates:hover {
    background-color: #439eea;
    color: #fff;
}

.certificates {
    transition: 1s;
}

.diplomass {
    transition: 1s;
}

.diplomass:hover {
    background-color: #439eea;
    color: #fff;
}

.locations:hover:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: #3f83bc;
    transition: .9s;
}

.learnn {
    margin-top: 23px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
}

.button a:hover {
    background-color: #439eea;
    color: #fff;
}

.button a {
    transition: 1s;
}

.gray {
    filter: grayscale(1);
}

.arrow {
    margin-right: 35px;
}

.comfortable {
    padding: 30px 0 20px 0;
}

.arroww {
    margin-left: 35px;
}

.color {
    filter: contrast(200%);
}

.learn {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
}

strong {
    color: #5d5d5d;
    font-weight: 500;
    font-size: 26px;
    color: #5d5d5d;
    font-family: "Ubuntu";
    text-transform: uppercase;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.locations {
    align-items: center;
    color: #000000;
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 14px;
}

.mail {
    font-size: 14px;
    text-decoration: underline;
    color: #3f83bc;
    font-family: "Open Sans";
    text-align: center;
}

.number {
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans";
    text-align: center;
    text-decoration: none;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    color: #fcfcfc;
    font-family: "Roboto Slab";
    text-align: center;
    margin: 0;
    padding-top: 100px;
}

.skypeour {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    text-decoration: none;
}

.call a {
    border-radius: 3px;
    background-color: #439eea;
    padding: 8px 42px;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: "Roboto";
    text-align: center;
    text-decoration: none;

}

.call {
    padding-bottom: 70px;
}

.about-wrap {
    padding: 30px 0 60px 0;
}

.about h2 {
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}

.new {
    margin: 5px 0 0;
}

.call p {
    font-size: 16px;
    color: #fcfcfc;
    font-family: "Roboto";
    text-align: center;
}

.all {
    margin: 0 0 70px 0;
}

.call {
    text-align: center;
    background: url(../images/teacher.webp) no-repeat;
}

.boooks {
    overflow: hidden;
}


.service h2 {
    font-size: 20px;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
}

hr {
    opacity: 0.251;
    max-width: 60px;
    background-color: #000000;
}

.more-books {
    display: flex;
    justify-content: center;
    border: 3px solid #439eea;
    border-radius: 50%;
    padding: 27px 0;
    margin-left: 10px;
}

.more-diploms {
    display: flex;
    justify-content: center;
    border: 3px solid #439eea;
    border-radius: 50%;
    padding: 24px 0;
    background-color: #439eea;
}

figure {
    margin: 0;
}

.figures {
    display: flex;
    justify-content: space-between;
    column-gap: 225px;
}

.figures p {
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.figures i {
    max-width: 180px;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
}

.service {
    justify-content: space-between;
    background-color: #f2f2f2;
}

h2 {
    font-size: 18px;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto Slab";
    text-align: center;
}

.today {
    opacity: 0.800;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.portfolio {
    text-align: center;
}

.diplomas {
    background-color: #439eea;
    padding: 6px 24px;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto";
    border-radius: 4px;
}

.certificates {
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    font-family: "Roboto";
    padding: 6px 14px;
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    text-decoration: none;
}

.diplomaas {
    margin: 25px 0 25px 0;
}


.diplomass {
    font-size: 14px;
    color: #010101;
    font-weight: 400;
    font-family: "Roboto";
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 6px 24px;
    text-decoration: none;
}

.images {
    display: flex;
}

.images img {
    width: 100%;
}

.button {
    margin: 25px 0 35px 0;
}

.button a {
    font-size: 13px;
    text-transform: uppercase;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto";
    border-radius: 4px;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 7px 15px;
    text-decoration: none;
}

.reviwes {
    background-color: #f2f2f2;
}

.comfortable {
    display: flex;
    justify-content: center;
}

.comfortable p {
    margin: 0;
    background-color: #f7f7f7;
    border: 1px solid #e6e6e6;
    max-width: 457px;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
}


.humans {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.help {
    background-color: #439eea;
}

.help h2 {
    font-size: 20px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;
    padding-top: 55px;
}

.name {
    display: flex;
    justify-content: center;
}

.calll {
    margin: 0;
}

.press {
    margin: 5px 0 0 0;
}

.us p {
    opacity: 0.800;
    margin-bottom: 0px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}

.write {
    display: flex;
    justify-content: center;
    padding: 50px 0;
}

.write a {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto";
    text-align: center;
    opacity: 0.651;
    padding: 3px 25px;
    border-radius: 4px;
    text-decoration: none;
    border: 2px solid #ffffff;
    transition: 1s;
}

.about-me p {
    margin-top: 42px;
}

.images-last {
    margin-top: 42px;
}

.more-contacts {
    margin-top: 42px;
}



.write a:hover {
    background-color: #313131;
    border: 2px solid #313131;
    opacity: 1;
}

.geo {
    transition: 1s;
}

.geo:hover {
    color: #fff;
    opacity: 1;
}

.phonee {
    transition: 1s;
}

.phonee:hover {
    color: #fff;
    opacity: 1;
}

.phoneee {
    transition: 1s;
}

.phoneee:hover {
    color: #fff;
    opacity: 1;
}

.more-about-us {
    background-color: #313131;
}


h3 {
    opacity: 0.502;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
}


.about-me p {
    opacity: 0.200;
    max-width: 318px;
    font-size: 13px;
    line-height: 19px;
    color: #fefefe;
    font-weight: 400;
    font-family: "Roboto";
}

.phonee {
    opacity: 0.200;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
}

.geo {
    position: relative;
}
.more-contacts{
    position: relative;
}

.geol{
    position: absolute;
}

.phoneee {
    position: relative;
    padding-left: 20px;
}

.geoll{
    top: 28%;
    position: absolute;
}

.geolll{
    position: absolute;
    top: 68%;
}

.phonee {
    padding-left: 20px;
}


.geo {
    padding-left: 20px;
    opacity: 0.200;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.more-contacts {
    display: flex;
    flex-direction: column;
}

.phonee {
    text-decoration: none;
    line-height: 20px;
}

.images-last {
    max-width: 250px;
}

.email {
    font-size: 14px;
    text-decoration: underline;
    color: #3f83bc;
    font-family: "Open Sans";
}

.social ul {
    list-style: none;
    display: flex;
    column-gap: 3px;
    padding: 0;
}

.email {
    transition: 1s;
    padding-left: 20px;
    margin-bottom: 20px;
}

.email:hover {
    color: #0ff;
    text-decoration: none;
}

.twitter {
    padding: 9px 11px;
    border-radius: 18px;
    background-color: #72b6ef;
}

.google {
    display: flex;
    padding: 8px 11px 0px;
    border: solid #72b6ef;
    border-radius: 18px;
}

.facebook {
    padding: 7px 11px;
    border: solid #72b6ef;
    border-radius: 18px;
}


.phoneee {
    line-height: 20px;
    margin-top: 10px;
    opacity: 0.200;
    font-size: 13px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.copy {
    display: flex;
    justify-content: center;
}

.main-wrapp {
    display: flex;
    justify-content: center;
    column-gap: 60px;
    padding: 70px 0;
}

.servicep {
    padding: 40px 0;
}

.portfolio {
    padding: 50px 0;
}

.comfort {
    padding: 60px 0;
}

.helppp {
    padding: 15px 0;
}

.email {
    position: relative;
}

.copy p {
    opacity: 0.651;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    font-weight: 400;
    font-family: "Open Sans";
    text-align: center;
}